.main-container { 
  .loader-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: var(--background-loader);
    position: absolute;
    opacity: 1;
    z-index: 3;
    animation: loader-on 3s linear forwards;
    
    .loader {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 300px;
      border-radius: 30px;
      border: solid black 2px;
      align-items: center;
      justify-content:space-around;
      font-size: 24px;
      transform: scale(0.7);
      background:linear-gradient(rgba(163, 163, 163, 0.9) , rgba(97, 97, 97, 0.887));
      box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.605);
      animation: loader-on 3s linear forwards;
  
      img {
        margin-top: 10px;
        height: 30px;
      }
        
      span {
        color: var(--White);
      }
      
      ul {
        display: flex;
        gap: 5px;
        padding: 0px;
        margin: 0px;
        list-style:none;
  
        li {
          width: 30px;
          height: 30px;
          border: solid black 2px;
          border-radius: 90px;
          background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
          animation: loading 1s linear infinite;
        }
  
        li:nth-child(2) {
          left: 75px;
          animation-delay: 0.3s ;
          }
  
        li:nth-child(3) {
          left: 150px;
          animation-delay: 0.5s ;
        }
      }
    }
  }
}

@keyframes loader-on {
    from {
    }
    to {
      display: none;
    }
}

@keyframes loading {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
}