button {
  border: none;
  margin: 20px 0px;
  width: 218px;
  padding: 16px 10px;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--Button-Gradient);
  transition: opacity 0.5s, box-shadow 0.5s;
  opacity: 1;
}

button:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
