header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--background-location);
}

header i {
  font-weight: 500;
  font-style: normal;
  color: var(--Grey);
  margin-left: 45px;
}

header input {
  outline: none;
  border: none;
  margin: 15px 0px 15px 17px;
  background-color: var(--background-location);
}

header input::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: var(--Grey);
}

header .logo-container {
  display: flex;
  position: relative;
  width: 100%;
  gap: 42px;
  padding: 25px 17px 25px 17px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

header .logo-container .arrow {
  position: absolute;
  left: 18px;
}

header .logo-container .arrow i {
  font-size: 25px;
  margin: 0;
}

footer {
  padding: 12px 25px;
  color: white;
  background-color: var(--Grey, #353535);
}

footer h3 {
  font-family: 'Shrikhand', serif;
  font-weight: normal;
  margin-top: 5px;
  font-weight: 400;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul i {
  width: 11px;
  font-size: 13px;
  margin-right: 10px;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    height: 54px;
    padding: 30px 25px;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 16px;
  }
  footer h3 {
    margin: 0px 10px 0px 0px;
    font-weight: 500;
    font-size: 18px;
  }
  footer ul {
    display: flex;
    gap: 27px;
  }
  footer ul li:nth-child(2) {
    margin: 0px 70px 0px 0px;
    font-weight: 400;
  }
  footer ul li a {
    margin: 0px 70px 0px 0px;
    font-weight: 400;
  }
  footer ul li {
    margin-bottom: 0px;
  }
}
