:root {
  --Button-Gradient: linear-gradient(#FF79DA, #9356DC);
  --background-loader: white;
  --Background: #F6F6F6;
  --White: #FFF;
  --background-location: #EAEAEA;
  --Grey: #353535;
  --btn-notify: #7e7e7e;
  --Primary: #9356DC;
  --Green: #99E2D0;
  --Green-Font: #008766;
  --Blue: #89C8FA;
  --Blue-Secondary: #003A68;
}

* {
  font-family: 'Roboto', serif;
}

a {
  text-decoration: none;
  color: unset;
}
