/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */
// var(--Background, #F6F6F6);
// var(--Grey, #353535);
// background: var(--Primary, #9356DC);
// background: var(--White, #FFF);

* {
    font-family: 'Roboto', serif;
}

body {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;

}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 375px;
}

                        // HEADER

header {
    display: block;
    justify-content: center;
    text-align: center;
    background: var(--White, #FFF);
    

    .logo-container  {
        height: 44px;
        padding: 14px;
        margin: 1px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.169);
        

        img {
            width: 162px;
            height: 50px;
        }
    }

    .location {
        display: flex;
        justify-content: center;
        gap: 17px;
        height: 40px;
        background-color: #EAEAEA;
        align-items: center;

        p {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
        }

        i {
            color: #7E7E7E;
        }
    }
}

main {
    display: flex;
    flex-direction: column;

}

                        /* RESERVATION */

.reservation {
    background-color: var(--Background, #F6F6F6);;
    padding: 25px;
    text-align: center;

    h1 {
        margin: auto 20px;
    }
}

.btn-reservation {
    border: none;
    padding: 12px 15px;
    margin: 20px;
    border-radius: 25px;
    color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.264);
    background: var(--Button-Gradient, linear-gradient(0deg, #9256dc -11.44%, #ff79d9 123.93%));
}

                        /* FUNCTIONING */

.functioning {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    gap: 30px;

    h2 {
        margin: 0;
    }
    
    
}

.btn-functioning {
    display: flex;
    position: relative;
    gap: 25px;
    padding: 14px 20px;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: flex-start;
    background: var(--Background, #F6F6F6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
        
    .btn-notify {
        position: absolute;
        left: -14px;
        width: 17px;           
        height: 17px;
        border-radius: 90px;
        border: 5px solid var(--Primary, #9356DC);
        background-color: var(--Primary, #9356DC);
        color: white;
        font-size: 14px;
    }

    i {
        font-size: 20px;
        margin-left: 20px;
        color: #7E7E7E;
    }
}
                        // RESTAURANT

.restaurants {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    gap: 20px;
    background: var(--Background, #F6F6F6);

    h2 {
        margin: 0;
    }
}
                        // CARD

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    background-color: white;

    img {
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
    }    
    
    .card-content {
        display: flex;
        flex-direction: row;
        height: 60px;
        margin: 0;
        padding: 10px;
        gap: 10px;
        justify-content: space-between;

        .card-txt {

            .card-title {
            margin: 0;
            }

            .card-subtitle {
                margin: 5px 0px;
            }
        }

        .card-rating {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;

            i {
                width: 22px;
                height: 21px;
            }

            .hovered-heart {
                opacity: 0;
                transition: all 0.3s ease-in;
                background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
                background-clip: text;
                -webkit-background-clip : text;
                -webkit-text-fill-color : transparent;
                z-index: 2;   
            }

            .default-heart {
                position: absolute;
                z-index: 1;
            }

            .default-heart:hover {
                
                ~ .hovered-heart {
                    opacity: 1;
                }
                
            }

            .hovered-heart:hover {
                opacity: 1;
                
            }
        }
    }   
}

a {
    text-decoration: none;
    color: unset;
}

footer {
    padding: 20px;
    color: white;
    background-color: var(--Grey, #353535);

    h3 {
        font-family: 'Shrikhand', serif;
    }

    ul {
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 5px;
        }

        i {
            font-size: 13px;
            width: 11px;
            margin-right: 10px;
        }
    }
}