/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */
// var(--Background, #F6F6F6);
// var(--Grey, #353535);
// background: var(--Primary, #9356DC);
// background: var(--White, #FFF);

@import "_commun";
@import "animationLoader";

body {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  height: 100%;
  position: relative;

  .loader {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    opacity: 1;
    z-index: 3;
    animation: loader-on 3s linear forwards;
    
    .loader-container {
      display: flex;
      position: absolute;
      top: 5%;
      left: 12%; 
      transform: scale(0.7);
      width: 300px;
      height: 300px;
      border-radius: 30px;
      border: solid black 2px;
      flex-direction: column;
      justify-content:space-around;
      align-items: center;
      font-size: 24px;
      background:linear-gradient(rgba(163, 163, 163, 0.9) , rgba(97, 97, 97, 0.887));
      box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.605);
      animation: loader-on 5s linear forwards;
  
      img {
        margin-top: 10px;
        height: 30px;
      }
        
      span {
        color: white;
      }
      
      .point-container {
        display: flex;
        gap: 5px;
  
        .point {
          width: 30px;
          height: 30px;
          border: solid black 2px;
          border-radius: 90px;
          background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
          animation: loading 1s linear infinite;
        }
  
        .point:nth-child(2) {
          left: 75px;
          animation-delay: 0.3s ;
          }
  
        .point:nth-child(3) {
          left: 150px;
          animation-delay: 0.5s ;
        }
      }
    }
  }
}

  main {
    display: flex;
    flex-direction: column;

    .reservation {
      display: flex;
      flex-direction: column;
      padding: 30px 20px;
      text-align: center;
      align-items: center;
      background-color: var(--Background, #f6f6f6);

      h1 {
        margin: 0px 25px;
      }

      p {
        margin: 18px 0px;
        font-size: 18px;
        font-weight: 300;
      }
    }

    .functioning {
      display: flex;
      flex-direction: column;
      padding: 50px 20px;
      gap: 30px;

      h2 {
        margin: 0;
      }

      .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }

      .btn-functioning {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        gap: 25px;
        width: 282px;
        margin-left: 12px;
        border: none;
        text-wrap: nowrap;
        padding: 14px 20px;
        border-radius: 20px;
        font-size: 16px;
        background: var(--Background, #f6f6f6);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

        .btn-notify {
          position: absolute;
          left: -12px;
          width: 14px;
          height: 14px;
          border-radius: 90px;
          border: 5px solid var(--Primary, #9356dc);
          background-color: var(--Primary, #9356dc);
          text-align: center;
          color: white;
          font-size: 14px;
        }

        i {
          font-size: 20px;
          margin-left: 20px;
          color: #7e7e7e;
        }

        i:hover {
          background: var(--Primary, #9356dc);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .restaurants {
      display: flex;
      flex-direction: column;
      padding: 50px 20px;
      gap: 28px;
      background: var(--Background, #f6f6f6);

      h2 {
        margin: 0;
      }

      // CARD

      .cards-container {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .card {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          border-radius: 15px 15px 15px 15px;
          background-color: white;

          img {
            width: 100%;
            height: 200px;
            border-radius: 15px 15px 0px 0px;
            object-fit: cover;
          }

          .new {
            display: flex;
            text-align: center;
            position: absolute;
            right: 15px;
            top: 10px;
            padding: 5px 10px 5px 10px;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 500;
            z-index: 2;
            color: var(--Green-Font, #008766);
            background-color: var(--Green, #99e2d0);
          }

          .card-content {
            display: flex;
            flex-direction: row;
            height: 60px;
            margin: 0;
            padding: 10px 10px 3px 12px;
            gap: 10px;
            justify-content: space-between;

            .card-txt {

              .card-title {
                margin: 0;
              }

              .card-subtitle {
                margin: 5px 0px;
                font-size: 17px;
                font-weight: 300;
              }
            }
          }
          .card-rating {
            display: flex;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50px;
            height: 50px;

            i {
              font-size: 22px;
            }

            .hovered-heart {
              opacity: 0;
              transition: opacity 0.5s ease-in;
              background: var(
                --Button-Gradient,
                linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
              );
              background-clip: inherit;
              -webkit-background-clip: text;
              color: transparent;

              &:hover {
                opacity: 2;
                z-index: 1;
              }
            }

            .default-heart {
              position: absolute;
              z-index: 1;

              &:hover {
                opacity: 0;

                ~ .hovered-heart {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

// MediaQuieries

@media (min-width: 768px) {
  .main-container {
    .loader {
      
      .loader-container {
        top: 10%;
        left: 40%; 
        transform: scale(1);
      } 
    }    
  }
}

@media (min-width: 1024px) {
  .main-container {
    max-width: 1440px;

    header {
      .logo-container {
        box-shadow: none;
      }
    }

    .reservation {
      h1 {
        font-size: 40px;
        font-weight: 700;
      }
    }

    .functioning {
      padding: 50px 180px;

      .btn-container {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }

    .restaurants {
      padding: 30px 180px;
      gap: 30px;

      .cards-container {
        display: grid;
        gap: 50px 100px;
        grid-template-columns: 45.5% 45.5%;
        grid-template-rows: 46% 46%;

        .card {
          width: 100%;
          object-fit: cover;
        }
      }
    }

    footer {
      display: flex;
      height: 54px;
      padding: 30px 25px;
      flex-direction: row-reverse;
      align-items: flex-end;
      gap: 16px;

      h3 {
        margin: 0px 10px 0px 0px;
        font-weight: 500;
        font-size: 18px;
      }

      li:nth-child(even) {
        margin-right: 55px;
      }

      li:nth-child(1n + 3) {
        font-weight: 400;
      }

      ul {
        display: flex;
        gap: 27px;

        li {
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .main-container {

    .functioning {
      .btn-container {
        flex-direction: row;
      }
    }
  }
}
