@import "_header-footer";
@import "_dishes-animation";
@import "_typo";
@import "_button";
@import "mixin";

body {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  main {
      
    .banner {
      img {
        width: 100%;
        height: 275px;
        object-fit: cover;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 40px;
      padding: 13px 13px 40px 13px;
      margin-top: -40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      background-color: var(--Background, #f6f6f6);

      .rating {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;

        h1 {
          margin-bottom: 0;
          font-size: 28px;
          font-weight: 400;
          font-family: "Shrikhand", serif;
        }

        .heart-container {
          display: flex;
          width: 22px;
          margin-right: 25px;
        }

        .hovered-heart {
          opacity: 0;
          position: absolute;
          font-size: 22px;
          background: var(
            --Button-Gradient,
            linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include animation-heart-after;
        }

        .default-heart {
          position: absolute;
          bottom: 10px;
          font-size: 22px;
          z-index: 1;
        }

        .hovered-heart:hover {
          opacity: 1;
          z-index: 2;
        }

        .default-heart:hover {
          opacity: 0;

          ~ .hovered-heart {
            opacity: 1;
            background: var(
            --Button-Gradient,
            linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include animation-heart-after;
          }
        }
      }

      .row {
        width: 40px;
        border-bottom: solid 3px var(--Green, #99e2d0);
      }

      .dishes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        animation: dishes-animation 0.9s linear;

        &:nth-child(2) {
          animation-delay: 0.3s;
        }
        &:nth-child(3) {
          animation-delay: 0.6s;
        }
        &:nth-child(4) {
          animation-delay: 0.9s;
        }

        h2 {
          font-size: 16px;
          font-weight: 300;
          margin: 0;
        }

        article {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          transition: padding-right 0.3s linear;
          padding: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          border-radius: 15px;
          background: var(--White, #fff);
          box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);

          h3 {
            margin: 0;
            font-weight: 500;
            margin-bottom: 5px;
          }

          .info {
            display: flex;
            justify-content: space-between;

            p {
              margin: 0;
              font-size: 15px;
              font-weight: 300;
            }

            span {
              font-size: 15px;
              font-weight: 700;
            }
          }

          .ticket {
            position: absolute;
            display: flex;
            width: 60px;
            height: 100%;
            right: 0px;
            align-items: center;
            justify-content: center;
            background-color: var(--Green, #99e2d0);
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
            @include animation-ticket-back;

            i {
              font-size: 24px;
              border-radius: 90px;
              color: var(--White);
            }
          }
        }

        article:hover {
          padding-right: 65px;

          p,
          i {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .ticket {
            @include animation-ticket;
          }
        }
      }

      .button-container {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 320px) {
  .main-container { 
    main {
      section{ 
        .rating{
          .heart-container {
            margin: 20px 25px 0px 0px;
            .default-heart{
              position: inherit;
            }
          }
        }
        .dishes{
          article {
            h3 {
              overflow: hidden;
              text-overflow: ellipsis;
            }
              
            p {
              overflow:hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
} 

@media (min-width: 768px) {
  main {
    .section-container {
      padding: 0px 50px 0px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      section {
        width: 100%;
        align-items: center;

        .rating {
          justify-content: center;
          gap: 24px;
        }

        .dishes {
          min-width: 634px;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .main-container {

    header {
      .logo-container {
        padding: 30px 17px;
        box-shadow: none;

        img {
          width: 200px;
        }
      }
    }

    main {
      .banner {
        img {
          height: 383px;
        }
      }

      .section-container {
        padding: 0px 192px 0px 193px;
        display: flex;
        flex-direction: column;
        align-items: center;

        section {
          width: 100%;
          align-items: center;

          .rating {
            justify-content: center;
            gap: 24px;
          }

          .dishes {
            min-width: 634px;
          }
        }
      }
    }
  }
}
