/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */
* {
  font-family: 'Roboto', serif;
}

body {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: unset;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
}

header {
  display: block;
  text-align: center;
  justify-content: center;
  background: var(--White, #FFF);
}

header .logo-container {
  display: flex;
  height: 44px;
  padding: 6px;
}

header .logo-container i {
  font-size: 16px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 75px;
}

header .logo-container img {
  width: 162px;
  height: 50px;
}

main {
  width: 100%;
}

main .banner {
  width: 100%;
}

main .banner img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

main section {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
  padding: 12px;
  margin-top: -40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: var(--Background, #F6F6F6);
}

main section .rating {
  display: flex;
  position: relative;
  align-items: center;
}

main section .rating h1 {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 300;
  font-family: 'Shrikhand', serif;
}

main section .rating i {
  margin-left: 30px;
}

main section .rating .hovered-heart {
  opacity: 0;
  transition: all 0.3s ease-in;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section .rating .default-heart {
  position: absolute;
  bottom: 9px;
  z-index: 1;
}

main section .rating .hovered-heart:hover {
  opacity: 1;
  z-index: 2;
}

main section .rating .default-heart:hover {
  opacity: 0;
  transition: all 0.3s ease-in;
}

main section .rating .default-heart:hover ~ .hovered-heart {
  opacity: 1;
}

main section .row {
  width: 40px;
  border-bottom: solid 2px var(--Green, #99E2D0);
}

main section .dishes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

main section .dishes h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

main section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-wrap: nowrap;
  padding: 15px;
  border-radius: 15px;
  border-radius: 15px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}

main section article h3 {
  margin: 0;
  font-weight: 500;
  margin-bottom: 5px;
}

main section article .info {
  display: flex;
  justify-content: space-between;
}

main section article p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}

main section article span {
  font-size: 15px;
  font-weight: 700;
}

main section article .ticket i {
  display: none;
}

main section article:hover {
  width: 74%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

main section article:hover p, main section article:hover h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main section article:hover .ticket {
  position: absolute;
  width: 18%;
  height: 6.37%;
  right: 12px;
  transition: 0.5s ease-in;
  transition: 0.5s ease-out;
  background: var(--Green, #99E2D0);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

main section article:hover .ticket i {
  display: flex;
  justify-content: center;
  margin: 30px;
}

main .btn {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 25px;
}

main .btn button {
  width: 190px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.264);
  background: var(--Button-Gradient, linear-gradient(0deg, #9256dc -11.44%, #ff79d9 123.93%));
}

footer {
  padding: 12px 25px;
  color: white;
  background-color: var(--Grey, #353535);
}

footer h3 {
  font-family: 'Shrikhand', serif;
  font-weight: normal;
  margin-top: 5px;
  font-weight: 400;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul i {
  font-size: 13px;
  width: 11px;
  margin-right: 10px;
}
