header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--background-location);
}

header i {
  font-weight: 500;
  font-style: normal;
  color: var(--Grey);
  margin-left: 45px;
}

header input {
  outline: none;
  border: none;
  margin: 15px 0px 15px 17px;
  background-color: var(--background-location);
}

header input::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: var(--Grey);
}

header .logo-container {
  display: flex;
  position: relative;
  width: 100%;
  gap: 42px;
  padding: 25px 17px 25px 17px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

header .logo-container .arrow {
  position: absolute;
  left: 18px;
}

header .logo-container .arrow i {
  font-size: 25px;
}

footer {
  padding: 12px 25px;
  color: white;
  background-color: var(--Grey, #353535);
}

footer h3 {
  font-family: 'Shrikhand', serif;
  font-weight: normal;
  margin-top: 5px;
  font-weight: 400;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul i {
  width: 11px;
  font-size: 13px;
  margin-right: 10px;
}

@keyframes dishes-animation {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

:root {
  --Button-Gradient: linear-gradient(#FF79DA, #9356DC);
  --background-loader: white;
  --Background: #F6F6F6;
  --White: #FFF;
  --background-location: #EAEAEA;
  --Grey: #353535;
  --btn-notify: #7e7e7e;
  --Primary: #9356DC;
  --Green: #99E2D0;
  --Green-Font: #008766;
  --Blue: #89C8FA;
  --Blue-Secondary: #003A68;
}

* {
  font-family: 'Roboto', serif;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: none;
  margin: 20px 0px;
  width: 218px;
  padding: 16px 10px;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--Button-Gradient);
  transition: opacity 0.5s, box-shadow 0.5s;
  opacity: 1;
}

button:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

body {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main .banner img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

main section {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
  padding: 13px 13px 40px 13px;
  margin-top: -40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: var(--Background, #f6f6f6);
}

main section .rating {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

main section .rating h1 {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 400;
  font-family: "Shrikhand", serif;
}

main section .rating .heart-container {
  display: flex;
  width: 22px;
  margin-right: 25px;
}

main section .rating .hovered-heart {
  opacity: 0;
  position: absolute;
  font-size: 22px;
  transition: all 0.3s ease-in;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section .rating .default-heart {
  position: absolute;
  bottom: 10px;
  font-size: 22px;
  z-index: 1;
}

main section .rating .hovered-heart:hover {
  opacity: 1;
  z-index: 2;
}

main section .rating .default-heart:hover {
  opacity: 0;
}

main section .rating .default-heart:hover ~ .hovered-heart {
  opacity: 1;
  transition: all 0.3s ease-in;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section .row {
  width: 40px;
  border-bottom: solid 3px var(--Green, #99e2d0);
}

main section .dishes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  animation: dishes-animation 0.9s linear;
}

main section .dishes:nth-child(2) {
  animation-delay: 0.3s;
}

main section .dishes:nth-child(3) {
  animation-delay: 0.6s;
}

main section .dishes:nth-child(4) {
  animation-delay: 0.9s;
}

main section .dishes h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

main section .dishes article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: padding-right 0.3s linear;
  padding: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 15px;
  background: var(--White, #fff);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}

main section .dishes article h3 {
  margin: 0;
  font-weight: 500;
  margin-bottom: 5px;
}

main section .dishes article .info {
  display: flex;
  justify-content: space-between;
}

main section .dishes article .info p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}

main section .dishes article .info span {
  font-size: 15px;
  font-weight: 700;
}

main section .dishes article .ticket {
  position: absolute;
  display: flex;
  width: 60px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--Green, #99e2d0);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translate(100%);
  transition: transform 0.3s linear;
  right: 0px;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}

main section .dishes article .ticket i {
  font-size: 24px;
  border-radius: 90px;
  color: var(--White);
}

main section .dishes article:active {
  padding-right: 65px;
}

main section .dishes article:active p,
main section .dishes article:active i {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main section .dishes article:active .ticket {
  transform: translate(0);
}

main section .button-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  main .section-container {
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .section-container section {
    width: 100%;
    align-items: center;
  }
  main .section-container section .rating {
    justify-content: center;
    gap: 24px;
  }
  main .section-container section .dishes {
    min-width: 634px;
  }
}

@media (min-width: 1440px) {
  .main-container header .logo-container {
    padding: 30px 17px;
    box-shadow: none;
  }
  .main-container header .logo-container img {
    width: 200px;
  }
  .main-container main .banner img {
    height: 383px;
  }
  .main-container main .section-container {
    padding: 0px 192px 0px 193px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-container main .section-container section {
    width: 100%;
    align-items: center;
  }
  .main-container main .section-container section .rating {
    justify-content: center;
    gap: 24px;
  }
  .main-container main .section-container section .dishes {
    min-width: 634px;
  }
  .main-container footer {
    display: flex;
    height: 54px;
    padding: 30px 25px;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 16px;
  }
  .main-container footer h3 {
    margin: 0px 10px 0px 0px;
    font-weight: 500;
    font-size: 18px;
  }
  .main-container footer a li {
    margin: 0px 55px 0px 0px;
    font-weight: 400;
  }
  .main-container footer ul {
    display: flex;
    gap: 27px;
  }
  .main-container footer ul li:nth-child(2) {
    margin: 0px 55px 0px 0px;
    font-weight: 400;
  }
  .main-container footer ul li {
    margin-bottom: 0px;
  }
}
