/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */
/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */
* {
  font-family: 'Roboto', serif;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  z-index: 3;
  animation: loader-on 3s linear forwards;
}

.loader .loader-container {
  display: flex;
  position: absolute;
  top: 20%;
  left: 42%;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  border: solid black 2px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  background: linear-gradient(rgba(163, 163, 163, 0.9), rgba(97, 97, 97, 0.887));
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.605);
  animation: loader-on 5s linear forwards;
}

.loader .loader-container img {
  margin-top: 10px;
  height: 30px;
}

.loader .loader-container span {
  color: white;
}

.loader .loader-container .point-container {
  display: flex;
  padding: 100px;
}

.loader .loader-container .point-container .point {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: solid black 2px;
  border-radius: 90px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  animation: loading 1s linear infinite;
}

.loader .loader-container .point-container .point:nth-child(2) {
  left: 75px;
  animation-delay: 0.3s;
}

.loader .loader-container .point-container .point:nth-child(3) {
  left: 150px;
  animation-delay: 0.5s;
}

header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background: var(--White, #FFF);
}

header .logo-container {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 6px;
}

header .logo-container i {
  font-size: 16px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 75px;
}

header .logo-container img {
  width: 162px;
}

footer {
  padding: 12px 25px;
  color: white;
  background-color: var(--Grey, #353535);
}

footer h3 {
  font-family: 'Shrikhand', serif;
  font-weight: normal;
  margin-top: 5px;
  font-weight: 400;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul i {
  width: 11px;
  font-size: 13px;
  margin-right: 10px;
}

button {
  border: none;
  margin: 20px 0px;
  width: 218px;
  padding: 16px 10px;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--Button-Gradient, linear-gradient(0deg, #9256dc -11.44%, #ff79d9 123.93%));
  transition: opacity 0.5s, box-shadow 0.5s;
  opacity: 1;
}

button:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

@keyframes loader-on {
  from {
  }
  to {
    display: none;
  }
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

* {
  font-family: 'Roboto', serif;
}

body {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
}

main {
  width: 100%;
}

main .banner img {
  width: 375px;
  height: 275px;
  object-fit: cover;
}

main section {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
  padding: 13px 13px 40px 13px;
  margin-top: -40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: var(--Background, #F6F6F6);
}

main section .rating {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

main section .rating h1 {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 300;
  font-family: 'Shrikhand', serif;
}

main section .rating .heart-container {
  display: flex;
  width: 22px;
  margin-right: 25px;
}

main section .rating .hovered-heart {
  opacity: 0;
  position: absolute;
  font-size: 22px;
  transition: all 0.3s ease-in;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section .rating .default-heart {
  position: absolute;
  bottom: 10px;
  font-size: 22px;
  z-index: 1;
}

main section .rating .hovered-heart:hover {
  opacity: 1;
  z-index: 2;
}

main section .rating .default-heart:hover {
  opacity: 0;
}

main section .rating .default-heart:hover ~ .hovered-heart {
  opacity: 1;
  transition: all 0.3s ease-in;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section .row {
  width: 40px;
  border-bottom: solid 3px var(--Green, #99E2D0);
}

main section .dishes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  animation: dishes-animation 0.9s linear;
}

main section .dishes:nth-child(2) {
  animation-delay: 0.3s;
}

main section .dishes:nth-child(3) {
  animation-delay: 0.6s;
}

main section .dishes:nth-child(4) {
  animation-delay: 0.9s;
}

@keyframes dishes-animation {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

main section .dishes h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

main section .dishes article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: padding-right 0.3s linear;
  padding: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 15px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}

main section .dishes article h3 {
  margin: 0;
  font-weight: 500;
  margin-bottom: 5px;
}

main section .dishes article .info {
  display: flex;
  justify-content: space-between;
}

main section .dishes article .info p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}

main section .dishes article .info span {
  font-size: 15px;
  font-weight: 700;
}

main section .dishes article .ticket {
  position: absolute;
  display: flex;
  width: 60px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--Green, #99E2D0);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translate(100%);
  transition: transform 0.3s linear;
  right: 0px;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}

main section .dishes article .ticket i {
  font-size: 24px;
  border-radius: 90px;
  color: white;
}

main section .dishes article:active {
  padding-right: 65px;
}

main section .dishes article:active p, main section .dishes article:active i {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main section .dishes article:active .ticket {
  transform: translate(0);
}

main section .button-container {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: unset;
}
