/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */
// var(--Background, #F6F6F6);
// var(--Grey, #353535);
// background: var(--Primary, #9356DC);
// background: var(--White, #FFF);

* {
    font-family: 'Roboto', serif;
}

body {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 375px;
}

                        // HEADER

header {
    display: block;
    justify-content: center;
    text-align: center;
    background: var(--White, #FFF);
    

    .logo-container  {
        height: 44px;
        padding: 14px;
        margin: 1px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.169);

        img {
            width: 162px;
            height: 50px;
        }
    }
}

.banner {
    width: 100%;
    

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

}