/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */
// var(--Background, #F6F6F6);
// var(--Grey, #353535);
// background: var(--Green, #99E2D0);
// background: var(--Primary, #9356DC);
// background: var(--White, #FFF);

@import '_commun';

* {
    font-family: 'Roboto', serif;
}

body {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 375px;
}

main {
    width: 100%;
    
    .banner{
        
        img {
            width: 375px;height: 275px;

            object-fit: cover;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 40px;
        padding: 13px 13px 40px 13px;
        margin-top: -40px ;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: var(--Background, #F6F6F6);
        
        .rating {
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;

            h1 {
                margin-bottom: 0;
                font-size: 28px;
                font-weight: 300;
                font-family: 'Shrikhand', serif;
            }

            .heart-container {
                display: flex;
                width: 22px;
                margin-right: 25px;
            }


            .hovered-heart {
                opacity: 0;
                position: absolute;
                font-size: 22px;
                transition: all 0.3s ease-in;
                background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
                background-clip: text;
                -webkit-background-clip : text;
                -webkit-text-fill-color : transparent;
            }

            .default-heart {
                position: absolute;
                bottom: 10px;
                font-size: 22px;
                z-index: 1;
            }

            .hovered-heart:hover {
                opacity: 1;
                z-index: 2;
            }
            
            .default-heart:hover {
                opacity: 0;

                ~ .hovered-heart {
                    opacity: 1;
                    transition: all 0.3s ease-in;
                    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
                    background-clip: text;
                    -webkit-background-clip : text;
                    -webkit-text-fill-color : transparent;
                }
            }

        }

        .row {
            width: 40px;
            border-bottom:  solid 3px var(--Green, #99E2D0);;
        }

        .dishes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            animation: dishes-animation 0.9s linear;
            
            &:nth-child(2){
                animation-delay: 0.3s;
            }
            &:nth-child(3){
                animation-delay: 0.6s;
            }
            &:nth-child(4){
                animation-delay: 0.9s;
            }
            
            @keyframes dishes-animation {
                from {
                    transform: translateX(-100px);
                    opacity: 0;
                }
                to {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }

            h2 {
                font-size: 16px;
                font-weight: 300;
                margin: 0;
            }
            
            article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                transition: padding-right 0.3s linear ;
                padding: 13px;   
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                border-radius: 15px;
                background: var(--White, #FFF);
                box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
                
                h3 {
                    margin: 0;
                    font-weight: 500;
                    margin-bottom: 5px;
                    

                }

                .info {
                    display: flex;
                    justify-content: space-between;
                

                    p {
                        margin: 0;
                        font-size: 15px;
                        font-weight: 300;
                        
                    }

                    span {
                        font-size: 15px;
                        font-weight: 700;
                        
                    }
                }

                .ticket {
                    position: absolute;
                    display: flex;
                    width: 60px;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--Green, #99E2D0);
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    transform: translate(100%);
                    transition: transform 0.3s linear ;
                    right: 0px;
                    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);

                    i {
                        font-size: 24px;
                        border-radius: 90px; 
                        color: white;
                    }
                }
            }

            article:active {
                    padding-right: 65px;

                p , i {       
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .ticket {
                    transform: translate(0);
                }
            }
        }

        .button-container {
            display: flex;
            justify-content: center;
        }
    }
}

a {
    text-decoration: none;
    color: unset;
}