
@mixin animation-heart-after {
  transition: opacity 0.3s ease-in;
}

@mixin animation-ticket-back {
  transform: translateX(100%);
  transition: transform 0.3s linear;
}

@mixin animation-ticket {
  transform: translateX(0%);
}