
@mixin animation-heart-after {
  transition: opacity 0.3s ease-in;
  opacity: 0;
  background: var(--Button-Gradient);
  background-clip: inherit;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin animation-ticket-back {
  transform: translateX(100%);
  transition: transform 0.3s linear;
}

@mixin animation-ticket {
  transform: translateX(0%);
}