/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */
@font-face {
  font-family: "Shrikhand";
  src: local("Shrikhand-Regular.ttf");
  font-family: "Roboto";
  src: local("Roboto-Regular.ttf");
}

body {
  margin: 0;
  width: 100%;
}

header {
  display: inline;
  justify-content: center;
  text-align: center;
  height: 113px;
}

.logo-container {
  height: 44px;
  margin: 14px;
}

.logo-container img {
  width: 162px;
  height: 50px;
}

.location {
  padding: 20px;
  background-color: #EAEAEA;
}

.location p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
}

/* RESERVATION */
.reservation {
  background-color: #f6f6f6;
  padding: 25px;
  text-align: center;
}

.btn-reservation {
  border: none;
  padding: 12px 15px;
  border-radius: 25px;
  color: white;
  box-shadow: 0px 1px 1px #c8c8c8;
  background: var(--Button-Gradient, linear-gradient(193deg, #9256dc -11.44%, #ff79d9 123.93%));
}

/* FUNCTIONING */
.functioning {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 10px;
}

.btn-functioning {
  border-radius: 20px;
  border: none;
  padding: 15px 20px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background: var(--Background, #F6F6F6);
}

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}

.card img {
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.card .card-content {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin: 0;
  padding: 10px;
  gap: 10px;
  justify-content: space-between;
}

.card .card-content .card-title {
  margin: 0;
}

.card .card-content .card-subtitle {
  margin: 5px 0px;
}

.card .card-content .card-rating {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}

.card .card-content .card-rating i {
  width: 22px;
  height: 21px;
  background-color: #e30000;
}

a {
  text-decoration: none;
  color: unset;
}

footer {
  padding: 20px;
  color: white;
  background-color: var(--Grey, #353535);
}

footer h3 {
  font-family: Shrinkhand;
}

footer ul {
  padding: 0;
  list-style: none;
}
