/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */

body {
    margin: 0;
    width: 100%;
}

header {
    display:inline;
    justify-content: center;
    text-align: center;
    height: 113px;    
}

.logo-container  {
    height: 44px;
    margin: 14px;
}

.logo-container img {
    width: 162px;
    height: 50px;
}

.location {
    padding: 20px;
    background-color: #EAEAEA;
}

.location p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;

}
                        /* RESERVATION */
.reservation {
    background-color: #f6f6f6;
    padding: 25px;
    text-align: center;
}

.btn-reservation {
    border: none;
    padding: 12px 15px;
    border-radius: 25px;
    color: white;
    box-shadow: 0px 1px 1px rgb(200, 200, 200);
    background:var(--Button-Gradient, linear-gradient(193deg, #9256dc -11.44%, #ff79d9 123.93%));
}

                        /* FUNCTIONING */

.functioning {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 10px;
}

.btn-functioning {
    border-radius: 20px;
    border: none;
    padding: 15px 20px;
}

.restaurants {
    padding: 20px;
}

.card {
    width: 80%;
    height: 200px;
}

.card img {
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

.card-content {
    height: 50px;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    padding: 0;
    list-style: none;
}

footer {
    padding: 20px;
}