/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */
* {
  font-family: "Roboto", serif;
}

body {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  z-index: 3;
}

.loader .loader-container {
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #a91212;
}

.loader .point-container {
  display: flex;
  position: relative;
  padding: 100px;
}

.loader .point-container .point {
  width: 30px;
  height: 30px;
  border-radius: 90px;
  background: linear-gradient(rgba(6, 183, 30, 0.438), #00ff7b);
  animation: loading 0.6s linear infinite;
  animation-delay: 0.1s;
}

.loader .point-container .point:nth-child(2) {
  left: 75px;
  animation-delay: 0.2s;
}

.loader .point-container .point:nth-child(3) {
  left: 150px;
  animation-delay: 0.3s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}

header p {
  font-size: 16px;
  font-weight: 500;
}

header i {
  color: #7e7e7e;
  margin-right: 15px;
}

header .logo-container {
  display: inline;
  width: 100%;
  padding: 14px 89px 13px 89px;
  background: var(--White, #fff);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.169);
}

header .logo-container img {
  width: 162px;
  height: 50px;
}

main {
  display: flex;
  flex-direction: column;
}

/* RESERVATION */
.reservation {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  text-align: center;
  align-items: center;
  background-color: var(--Background, #f6f6f6);
}

.reservation h1 {
  margin: 0px 25px;
}

.reservation p {
  margin: 18px 0px;
  font-size: 18px;
  font-weight: 300;
}

button {
  border: none;
  margin: 20px 0px;
  width: 218px;
  padding: 16px 10px;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--Button-Gradient, linear-gradient(0deg, #9256dc -11.44%, #ff79d9 123.93%));
  transition: opacity 0.5s, box-shadow 0.5s;
  opacity: 1;
}

button:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/* FUNCTIONING */
.functioning {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 30px;
}

.functioning h2 {
  margin: 0;
}

.functioning .btn-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.functioning .btn-functioning {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  width: 282px;
  margin-left: 12px;
  border: none;
  padding: 14px 20px;
  border-radius: 20px;
  font-size: 16px;
  background: var(--Background, #f6f6f6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.functioning .btn-functioning .btn-notify {
  position: absolute;
  left: -12px;
  width: 14px;
  height: 14px;
  border-radius: 90px;
  border: 5px solid var(--Primary, #9356dc);
  background-color: var(--Primary, #9356dc);
  text-align: center;
  color: white;
  font-size: 14px;
}

.functioning .btn-functioning i {
  font-size: 20px;
  margin-left: 20px;
  color: #7e7e7e;
}

.functioning .btn-functioning i:hover {
  background: var(--Primary, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 28px;
  background: var(--Background, #f6f6f6);
}

.restaurants h2 {
  margin: 0;
}

.restaurants .cards-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.restaurants .cards-container .card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}

.restaurants .cards-container .card img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.restaurants .cards-container .card .new {
  display: flex;
  text-align: center;
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  z-index: 2;
  color: var(--Green-Font, #008766);
  background-color: var(--Green, #99E2D0);
}

.restaurants .cards-container .card .card-content {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin: 0;
  padding: 10px 10px 3px 12px;
  gap: 10px;
  justify-content: space-between;
}

.restaurants .cards-container .card .card-content .card-txt .card-title {
  margin: 0;
}

.restaurants .cards-container .card .card-content .card-txt .card-subtitle {
  margin: 5px 0px;
  font-size: 17px;
  font-weight: 300;
}

.restaurants .cards-container .card .card-content .card-rating {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.restaurants .cards-container .card .card-content .card-rating i {
  font-size: 22px;
}

.restaurants .cards-container .card .card-content .card-rating .hovered-heart {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  -webkit-background-clip: text;
  color: transparent;
}

.restaurants .cards-container .card .card-content .card-rating .hovered-heart:hover {
  opacity: 2;
  z-index: 1;
}

.restaurants .cards-container .card .card-content .card-rating .default-heart {
  position: absolute;
  z-index: 1;
}

.restaurants .cards-container .card .card-content .card-rating .default-heart:hover {
  opacity: 0;
}

.restaurants .cards-container .card .card-content .card-rating .default-heart:hover ~ .hovered-heart {
  opacity: 1;
}

a {
  text-decoration: none;
  color: unset;
}

footer {
  padding: 12px 25px;
  color: white;
  background-color: var(--Grey, #353535);
}

footer h3 {
  font-family: "Shrikhand", serif;
  font-weight: normal;
  margin-top: 5px;
  font-weight: 400;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul i {
  width: 11px;
  font-size: 13px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .main-container {
    max-width: 1440px;
  }
  .main-container header .logo-container {
    box-shadow: none;
  }
  .main-container .reservation h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .main-container .functioning {
    padding: 50px 180px;
  }
  .main-container .functioning .btn-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-container .restaurants {
    padding: 30px 180px;
    gap: 30px;
  }
  .main-container .restaurants .cards-container {
    display: grid;
    gap: 50px 100px;
    grid-template-columns: 45.5% 45.5%;
    grid-template-rows: 46% 46%;
  }
  .main-container .restaurants .cards-container .card {
    width: 100%;
    object-fit: cover;
  }
  .main-container footer {
    display: flex;
    height: 54px;
    padding: 30px 25px;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 16px;
  }
  .main-container footer h3 {
    margin: 0px 10px 0px 0px;
    font-weight: 500;
    font-size: 18px;
  }
  .main-container footer li:nth-child(even) {
    margin-right: 55px;
  }
  .main-container footer li:nth-child(1n+3) {
    font-weight: 400;
  }
  .main-container footer ul {
    display: flex;
    gap: 27px;
  }
  .main-container footer ul li {
    margin: 0;
  }
}
