/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */
// var(--Background, #F6F6F6);
// var(--Grey, #353535);
// background: var(--Primary, #9356DC);
// background: var(--White, #FFF);

* {
  font-family: "Roboto", serif;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  width: 100%;
  height: 100%;
}

// LOADER

.loader {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  z-index: 3;

    .loader-container {
      display: flex;
      width: 300px;
      height: 300px;
      flex-direction: column;
      justify-content:space-around;
      align-items: center;
      background-color: rgb(169, 18, 18);
    }

    .point-container {
      display: flex;
      position: relative;
      padding: 100px;

      .point {
        width: 30px;
        height: 30px;
        border-radius: 90px;
        background:linear-gradient( rgba(6, 183, 30, 0.438), rgb(0, 255, 123));
        animation: loading 0.6s linear infinite ;
        animation-delay: 0.1s;
      }

      .point:nth-child(2) {
        left: 75px;
        animation-delay: 0.2s ;
      }

      .point:nth-child(3) {
        left: 150px;
        animation-delay: 0.3s ;
      }
      
        @keyframes loading {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(0.5);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

// HEADER

header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;

  p {
    font-size: 16px;
    font-weight: 500;
  }

  i {
    color: #7e7e7e;
    margin-right: 15px;
  }

  .logo-container {
    display: inline;
    width: 100%;
    padding: 14px 89px 13px 89px;
    background: var(--White, #fff);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.169);

    img {
      width: 162px;
      height: 50px;
    }
  }
}


// *
main {
  display: flex;
  flex-direction: column;
}

/* RESERVATION */

.reservation {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
    align-items: center;
    background-color: var(--Background, #f6f6f6);

  h1 {
    margin: 0px 25px;
  }
  
  p {
    margin: 18px 0px;
    font-size: 18px;
    font-weight: 300;
  }
}

button {
    border: none;
    margin: 20px 0px;
    width: 218px;
    padding: 16px 10px;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: var(
        --Button-Gradient,
      linear-gradient(0deg, #9256dc -11.44%, #ff79d9 123.93%)
    );
    transition: opacity 0.5s, box-shadow 0.5s ;
    opacity: 1;
  
    &:hover {
      opacity: 0.9;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);    }
}

/* FUNCTIONING */

.functioning {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 30px;

  h2 {
    margin: 0;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .btn-functioning {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    width: 282px;
    margin-left: 12px;
    border: none;
    padding: 14px 20px;
    border-radius: 20px;
    font-size: 16px;
    background: var(--Background, #f6f6f6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

    .btn-notify {
      position: absolute;
      left: -12px;
      width: 14px;
      height: 14px;
      border-radius: 90px;
      border: 5px solid var(--Primary, #9356dc);
      background-color: var(--Primary, #9356dc);
      text-align: center;
      color: white;
      font-size: 14px;
    }

    i {
      font-size: 20px;
      margin-left: 20px;
      color: #7e7e7e;
    }

    i:hover {
      background: var(--Primary, #9356dc);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
// RESTAURANT

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 28px;
  background: var(--Background, #f6f6f6);

  h2 {
    margin: 0;
  }

  // CARD

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
  
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 15px 15px 15px 15px;
      background-color: white;

      img {
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
      }

      .new {
        display: flex;
        text-align: center;
        position: absolute;
        right: 15px;
        top: 10px;
        padding: 5px 10px 5px 10px;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 500;
        z-index: 2;
        color: var(--Green-Font, #008766);
        background-color: var(--Green, #99E2D0);
      }

      .card-content {
        display: flex;
        flex-direction: row;
        height: 60px;
        margin: 0;
        padding: 10px 10px 3px 12px;
        gap: 10px;
        justify-content: space-between;

        .card-txt {
          .card-title {
            margin: 0;
          }

          .card-subtitle {
            margin: 5px 0px;
            font-size: 17px;
            font-weight: 300;
          }
        }

        .card-rating {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;

          i {
            font-size: 22px;
          }

          .hovered-heart {
            opacity: 0;
            transition: opacity 0.5s ease-in;
            background: var(
              --Button-Gradient,
              linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
            );
            -webkit-background-clip: text;
            color: transparent;
            &:hover {
              opacity: 2;
              z-index: 1;
            }
          }

          .default-heart {
            position: absolute;
            z-index: 1;

            &:hover {
              opacity: 0;

              ~ .hovered-heart {
                opacity: 1;
            }
            }
          }
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: unset;
}

footer {
  padding: 12px 25px;
  color: white;
  background-color: var(--Grey, #353535);

  h3 {
    font-family: "Shrikhand", serif;
    font-weight: normal;
    margin-top: 5px;
    font-weight: 400;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-bottom: 8px;
    }

    i {
      width: 11px;
      font-size: 13px;
      margin-right: 10px;
    }
  }
}

                                            // MediaQuieries

@media (min-width: 768px) {

    .main-container {
        max-width: 1440px;
    

        header {
            .logo-container {
                box-shadow: none;
            }
        }

        .reservation {

            h1 {
                font-size: 40px;
                font-weight: 700;
            }
        }

        .functioning {
            padding: 50px 180px;
            
            .btn-container {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                }
        }

        .restaurants {
            padding: 30px 180px;
            gap: 30px;

            .cards-container {
                display: grid;
                gap: 50px 100px;
                grid-template-columns: 45.5% 45.5%;
                grid-template-rows: 46% 46%;
                
                .card {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        footer {
            display: flex;
            height: 54px;
            padding: 30px 25px;
            flex-direction: row-reverse;
            align-items: flex-end;
            gap: 16px;

            h3 {
                margin: 0px 10px 0px 0px;
                font-weight: 500;
                font-size: 18px;
            }

            li:nth-child(even) {
                margin-right: 55px;
            }

            li:nth-child(1n+3) {
                font-weight: 400;
            }

            ul {
                display: flex;
                gap: 27px;

                li {
                    margin: 0;
                }
            } 
        }
    }
}
