.btn {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 25px;
}

.btn button {
  width: 190px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.264);
  background: var(--Button-Gradient, linear-gradient(0deg, #9256dc -11.44%, #ff79d9 123.93%));
}

.btn button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}
