/* var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)); */
// var(--Background, #F6F6F6);
// var(--Grey, #353535);
// background: var(--Green, #99E2D0);
// background: var(--Primary, #9356DC);
// background: var(--White, #FFF);

* {
    font-family: 'Roboto', serif;
}

body {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 375px;
}

                        // HEADER

header {
    display: block;
    text-align: center;
    justify-content: center;
    background: var(--White, #FFF);
    
    .logo-container  {
        display: flex;
        height: 44px;
        padding: 6px;
        
        i {
            font-size: 16px;
            margin-left: 15px;
            margin-top: 15px;
            margin-bottom: 5px;
            margin-right: 75px;
        }

        img {
            width: 162px;
            height: 50px;

        }
    }
}

main {
    width: 100%;
    
    .banner{
        width: 100%;

        img {
            width: 100%;
            height: 275px;
            object-fit: cover;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 40px;
        padding: 12px;
        margin-top: -40px ;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: var(--Background, #F6F6F6);
        
        .rating {
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;

            h1 {
                margin-bottom: 0;
                font-size: 28px;
                font-weight: 300;
                font-family: 'Shrikhand', serif;
            }

            .heart-container {
                display: flex;
                width: 22px;
                margin-right: 25px;
            }


            .hovered-heart {
                opacity: 0;
                position: absolute;
                font-size: 22px;
                transition: all 0.3s ease-in;
                background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
                background-clip: text;
                -webkit-background-clip : text;
                -webkit-text-fill-color : transparent;
            }

            .default-heart {
                position: absolute;
                bottom: 10px;
                font-size: 22px;
                z-index: 1;
            }

            .hovered-heart:hover {
                opacity: 1;
                z-index: 2;
            }
            
            .default-heart:hover {
                opacity: 0;

                ~ .hovered-heart {
                    opacity: 1;
                    transition: all 0.3s ease-in;
                    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
                    background-clip: text;
                    -webkit-background-clip : text;
                    -webkit-text-fill-color : transparent;
                }
            }

        }

        .row {
            width: 40px;
            border-bottom:  solid 3px var(--Green, #99E2D0);;
        }

        .dishes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            h2 {
                font-size: 16px;
                font-weight: 300;
                margin: 0;
            } 
        }
        
        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-wrap: nowrap;
            padding: 15px;
            border-radius: 15px;
            background: var(--White, #FFF);
            box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
            
            h3 {
                margin: 0;
                font-weight: 500;
                margin-bottom: 5px;
            }

            .info {
                display: flex;
                justify-content: space-between;
            }

            p {
                margin: 0;
                font-size: 15px;
                font-weight: 300;
            }

            span {
                font-size: 15px;
                font-weight: 700;
            }

            .ticket {
                i {
                   display: none;
                   font-size:  20px;
                   width: 18px;
                   color:  var(--Green, #99E2D0);
                   border-radius: 90px; 
                   background-color: white;
                }
            }
        }
        
        article:hover {
            
            width: 74%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
                
            p , h3 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .ticket {
                position: absolute;
                width: 18%;
                height: 6.37%;
                right: 12px;
                transition: all 0.5s ease-in;
                background: var(--Green, #99E2D0);
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;

                i {
                    display: flex;
                    justify-content: center;
                    margin: 30px 30px 30px 25px;
                }
            }
        }
    }
    
    .btn {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-bottom: 25px;

        button {
            width: 190px;
            height: 50px;
            border: none;
            border-radius: 25px;
            color: white;
            font-size: 16px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.264);
            background: var(--Button-Gradient, linear-gradient(0deg, #9256dc -11.44%, #ff79d9 123.93%));
        }

        button:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
        }
    }
}

a {
    text-decoration: none;
    color: unset;
}


footer {
    padding: 12px 25px;
    color: white;
    background-color: var(--Grey, #353535);

    h3 {
        font-family: 'Shrikhand', serif;
        font-weight: normal;
        margin-top: 5px;
        font-weight: 400;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            margin-bottom: 8px;
        }

        i {
            width: 11px;
            font-size: 13px;
            margin-right: 10px;
        }
    }
}